/* comments css */

.comments {
  background: none;
  border: 0;
  cursor: pointer;
  font-size: 22px; 
  position: relative;
}

.comments:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.comments div:first-child {
  display: flex;
}

.comments div:first-child div:last-child {
  font-size: 18px;
  margin-left: 2px;
}

.tooltip {
  background-color: #575a62;
  border-radius: 5px;
  bottom: -30px;
  color: white;
  font-size: 12px;
  left: -3px;
  opacity: 0;
  padding: 4px 8px;
  position: absolute;
  transition: opacity 0.3s, visibility 0.3s;
  visibility: hidden;
}
